.single-quicklink .content{
    display: inline-flex;
    width: calc(100% - 80px);
}
.single-quicklink .content a{
    margin: auto 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.quicklinks-controls{
    position: absolute;
    right: 0;
    top: -22px;
    transition: top .4s ease-out;
    z-index: 9;
}

.single-quicklink .info-box:hover .quicklinks-controls{
    top: 0;
}
.quicklinks-controls i:hover{
    cursor: pointer;
}
#add-quicklink i{
    transition: .5s ease-out;
}
#add-quicklink .info-box:hover i{
    transform: rotateY(180deg);
}

#add-quicklink .info-box:hover{
    cursor: pointer;
}
