
body {
    -webkit-print-color-adjust: exact !important;
    height: 100vh;
}



.bg-gray, td.bg-gray, th.bg-gray{
    background-color: gray !important;
}
td.bg-red{
    background: red !important;
}

#logoSection {
    text-align: center;
}

#logoSection img {
    width: 40px;
}
#logoSection h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: .99rem;
}
#logoSection p {
    margin: 0;
    font-size: 0.9rem;
}



#titles{
    
}
#titles h4{
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.95rem;
}
#titles h4 span{
    -webkit-print-color-adjust: exact;
    border: 1px solid #000;
    padding: 5px;
}
#titles h5{
    margin-top: 15px;
    font-size: 0.95rem;
}
#titles h5 span{
    padding: 5px 30px;
    border: 1px solid #000;
}





#emp_info{
    margin: 25px 0;
    font-weight: bold;
}
#emp_info p {
    border: 1px solid #000;
    float: left;
    padding: 3px 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
}




#top-table{
    font-size: 12px;
    font-weight: bold;
}

#top-table td {
    padding: 0 5px;
}



#main-data{
    font-size: 13px;
    text-align: center;
}
#main-data th{
    text-align: center;
    font-size: 12px;
    padding: 3px;
}

#main-data td {
    padding: 0 5px;
}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #000 !important;
}



#main-data th:last-child{
    width: 150px;
}

@media print {

    .bg-gray, td.bg-gray, th.bg-gray{
        background-color: gray !important;
    }
    td.bg-red{
        background: red !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #000 !important;
        
        
    }

    body:after{
        content: "Authorised Signature";
        position: absolute;
        bottom: 0;
        right: 10px;
        border-top: 1px solid #000;
    }

    
} 