@charset "utf-8";
#wrapper {
	width: 1000px;
	margin:0px auto;
}
.header {
	width: 1000px;
	height:70px;
}
.he1 {
	font-family: Verdana, Geneva, sans-serif;
	height:70px;
}
.he2 {
}
.userinfo {
	width: 1000px;
	margin-top:5px;
}
.infotable {
	width: 1000px;
	margin-top:15px;
}
.main {
	width: 1000px;
	margin-top:10px;
}
p1
{
   
    padding-right: 50px;
    border-bottom: 1px dotted #888;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}




#wrapper .header .he1 table tr th {
	text-align: left;
}
#wrapper .userinfo table {
	text-align: left;
}
.foot {
	width: 1000px;
	height:40px;
	margin-top:10px;
	
}
.boxed {
	border: 1px solid black;
	height:50px;
	width:190px;
	text-align: center;
}#wrapper .he2 hr {
	text-align: center;
}
.textmid {
	text-align: center;
}
.FOOTEX {
	width: 500px;
	text-align: center;
	margin-left: 250px;
}
.refnum {
	width:450px;
	margin-left:576px;
}
